{% extends 'budget/base.html' %}
{% load static %}
{% block content %}

<div class="container" id="add-month-form">
    <div class="card-panel">
        <div class="row">
            <div class="col text-center">
                <h5>Редактировать месяц</h5>
            </div>
        </div>

            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="row">
                    <div class="col">
                        <button type="submit" class="green-button">Сохранить</button>
                    </div>
                    <div class="col">
                        <button type="button" onclick="location.href='{% url 'list' %}'" class="green-button">Отмена</button>
                    </div>
                </div>
            </form>
    </div>
</div>


{% endblock %}