{% extends 'budget/base.html' %}
{% block content %}

<div class="container" id="add-month-form">
    <div class="card-panel">
        <div class="row">
            <div class="col text-center">
                <h5>Редактировать расход</h5>
            </div>
        </div>

            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="row">
                    <div class="col">
                        <button type="submit" class="green-button">Сохранить</button>
                    </div>
                </div>
            </form>
    </div>
</div>


{% endblock %}