{% extends 'budget/base.html' %}
{% block content %}

<div id="month-details" class="container">
    <div class="row right">
        <div class="col-xs-12">
            <button onclick="location.href='{% url 'list' %}'" class="green-button right">На главную</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="app-title">{{ project.name }}</h1>
        </div>
    </div>
    <div class="row" id="dates">
        <div class="col-xs-12">
            <span>Даты: {{ project.start_date }} - {{ project.end_date }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 p-1">
            <button class="blue-button" onclick="location.href='{% url 'add_recurrent' project.slug %}'">Добавить регулярные</button></div>
        <div class="col-xs-6 p-1">
            <button class="blue-button" onclick="location.href='{% url 'recurrent' %}'">Список регулярных</button>
        </div>
    </div>
    <section class="section section-stats">
        <div class="row">
            <div class="col-xs-12">
                <div class="card-panel">
                    <h6 class="bold">Тотал доход</h6>
                    <h5 class="bold">{{ project.budget }} czk</h5>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="card-panel">
                    <h6 class="bold">Остаток</h6>
                    <h5 class="bold">{{ project.budget_left }} czk</h5>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="card-panel">
                    <h6 class="bold">Дней до зп</h6>
                    <h5 class="bold">{{ project.days_to_income }}</h5>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="card-panel">
                    <h6 class="bold">Ежедневный</h6>
                    {% if project.daily_budget > 500 %}
                        <h5 class="bold green-text">{{ project.daily_budget }} czk</h5>
                    {% elif project.daily_budget > 300 %}
                        <h5 class="bold orange-text">{{ project.daily_budget }} czk</h5>
                    {% else %}
                        <h5 class="bold red-text">{{ project.daily_budget }} czk</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <div class="row right">
            <button class="green-button waves-effect right modal-trigger" href="#expenseModal">Добавить расход</button>
        </div>
    <section class="section section-expenses">
        <div class="expense_tabs">
            <input type="radio" name="expense_tabs" id="all_expense" checked="checked">
            <label for="all_expense">All</label>
            <div class="tab">
                <table class="expense">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>День нед</th>
                        <th>Сумма</th>
                        <th>Категория</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for expense in expense_list %}
                            <tr>
                                <th><span class="date">{{ expense.spend_date }}</span></th>
                                <th><span class="title">{{ expense.week_day }}</span></th>
                                {% if expense.category == 'Income' %}
                                <th><span class="title green-text">{{ expense.amount }} czk</span></th>
                                {% else %}
                                <th><span class="title">{{ expense.amount }} czk</span>
                                </th>
                                {% endif %}
                                <th><span class="title">{{ expense.category }}</span></th>
                                <th><a class="close-icon" onclick="deleteExpense(this)" data-id="{{ expense.id }}">
                                    <i class="material-icons red-text left">close</i>
                                    </a>
                                </th>
                            </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <input type="radio" name="expense_tabs" id="daily_expense">
            <label for="daily_expense">Daily</label>
                <div class="tab">
                    <table class="expense">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>День нед</th>
                            <th>Сумма</th>
                            <th>Категория</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody class="regular">
                            {% for expense in expense_list %}
                            {% if expense.category == 'Daily' %}
                                <tr class="regular">
                                    <th><span class="date">{{ expense.spend_date }}</span></th>
                                    <th><span class="title">{{ expense.week_day }}</span></th>
                                        {% if expense.category == 'Income' %}
                                    <th><span class="title green-text">{{ expense.amount }} czk</span></th>
                                        {% else %}
                                    <th><span class="title">{{ expense.amount }} czk</span></th>
                                        {% endif %}
                                    <th><span class="title">{{ expense.category }}</span></th>
                                    <th><a class="close-icon" onclick="deleteExpense(this)" data-id="{{ expense.id }}">
                                        <i class="material-icons red-text left">close</i>
                                        </a>
                                    </th>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            <input type="radio" name="expense_tabs" id="plan_expense">
            <label for="plan_expense">Plan</label>
                <div class="tab">
                    <table class="expense">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>День нед</th>
                            <th>Сумма</th>
                            <th>Категория</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody class="regular">
                            {% for expense in expense_list %}
                            {% if expense.category == 'Plan' %}
                                <tr class="regular">
                                    <th><span class="date">{{ expense.spend_date }}</span></th>
                                    <th><span class="title">{{ expense.week_day }}</span></th>
                                        {% if expense.category == 'Income' %}
                                    <th><span class="title green-text">{{ expense.amount }} czk</span></th>
                                        {% else %}
                                    <th><span class="title">{{ expense.amount }} czk</span></th>
                                        {% endif %}
                                    <th><span class="title">{{ expense.category }}</span></th>
                                    <th><a class="close-icon" onclick="deleteExpense(this)" data-id="{{ expense.id }}">
                                        <i class="material-icons red-text left">close</i>
                                        </a>
                                    </th>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            <input type="radio" name="expense_tabs" id="recurr_expense">
            <label for="recurr_expense">Recurr</label>
                <div class="tab">
                    <table class="expense">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>День нед</th>
                            <th>Сумма</th>
                            <th>Категория</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody class="regular">
                            {% for expense in expense_list %}
                            {% if expense.category == 'Recurr' %}
                                <tr class="regular">
                                    <th><span class="date">{{ expense.spend_date }}</span></th>
                                    <th><span class="title">{{ expense.week_day }}</span></th>
                                        {% if expense.category == 'Income' %}
                                    <th><span class="title green-text">{{ expense.amount }} czk</span></th>
                                        {% else %}
                                    <th><span class="title">{{ expense.amount }} czk</span></th>
                                        {% endif %}
                                    <th><span class="title">{{ expense.category }}</span></th>
                                    <th><a class="close-icon" onclick="deleteExpense(this)" data-id="{{ expense.id }}">
                                        <i class="material-icons red-text left">close</i>
                                        </a>
                                    </th>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            <input type="radio" name="expense_tabs" id="total_expense">
            <label for="total_expense">Total Expenses per Day</label>
                <div class="tab">
                    <table class="expense">
                        <thead>
                        <tr>
                            <th><span class="title bold">Дата</span></th>
                            <th><span class="title bold">День нед</span></th>
                            <th><span class="title bold">Сумма</span></th>
                        </tr>
                        </thead>
                        <tbody class="regular">
                            {% for day, details in day_expense_list.items %}
                            <tr>
                                <th> <span class="date">{{ day }}</span></th>
                                    {% for d in details %}
                                <th> <span class="title">{{ d }}</span></th>
                                    {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </section>

</div>

<div id="expenseModal" class="modal">
    <div class="modal-content">
        <h4>Add Expense</h4>

        <form method="POST">
            {% csrf_token %}
            {{form_expense.as_p}}
            <button type="submit" class="btn">Add</button>
        </form>
    </div>
</div>

<script>
    var elem = document.querySelector('.modal')
    var instance = M.Modal.init(elem)

    var elem = document.querySelector('select')
    var instance = M.FormSelect.init(elem)

    function deleteExpense(e){

        let id = e.dataset.id
        e.closest('tr').remove()
        document.location.reload(true)

        fetch('', {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'id': id
            }),
            credentials: 'same-origin'
        })
    }
</script>

{% endblock %}