{% extends 'budget/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <a href="{% url 'list' %}" class="btn-large grey">
        <span class="bold">Back to months</span>
    </a>
    <p>Month starts: {{ project.start_date }}</p>
    <p>Month ends: {{ project.end_date }}</p>
    <section class="section section-stats">
        <div class="row">
            <div class="col s12 m12 14">
                <div class="card-panel">
                    <h6 class="bold">Total Budget</h6>
                    <h2 class="bold">{{ project.budget }} CZK</h2>
                </div>
            </div>

            <div class="col s12 m6 14">
                <div class="card-panel">
                    <h6 class="bold">Budget Left</h6>
                    {% if project.budget_left > 0 %}
                        <h2 class="bold green-text">{{ project.budget_left }} CZK</h2>
                    {% elif project.budget_left == 0 %}
                        <h2 class="bold orange-text">{{ project.budget_left }} CZK</h2>
                    {% else %}
                        <h2 class="bold red-text">{{ project.budget_left }} CZK</h2>
                    {% endif %}
                </div>
            </div>

            <div class="col s12 m6 14">
                <div class="card-panel">
                    <h6 class="bold">Days to income</h6>
                    <h2 class="bold">{{ project.days_to_income }}</h2>
                </div>
            </div>
            <div class="col s12 m6 14">
                <div class="card-panel">
                    <h6 class="bold">Daily budget</h6>
                    <h2 class="bold">{{ project.daily_budget }}</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-expenses">
        <div class="row">
            <button class="btn waves-effect right modal-trigger" href="#expenseModal">
                <i class="material-icons white-text left">add circle</i>
                Add Expense</button>
        </div>
        <div class="row">
            <button class="btn waves-effect right modal-trigger" href="{% url 'recurrent' %}">
                Recurrent Expenses</button>
        </div>
            <div class="expense_tabs">
                <input type="radio" name="expense_tabs" id="all_expense" checked="checked">
                <label for="all_expense">All Expenses</label>
                <div class="tab">
                    <ul class="z-depth-1">
                   {% for expense in expense_list %}
                        <li>
                            <div class="card-panel z-depth-0 expense">
                                <div class="row">
                                    <div class="col 14">
                                        <span class="date">{{ expense.spend_date }}</span>
                                    </div>
                                    <div class="col 14">
                                        <span class="title">{{ expense.week_day }}</span>
                                    </div>
                                    <div class="col 14">
                                        <span class="title">{{ expense.amount }} czk</span>
                                    </div>
                                    <div class="col 14">
                                        <span class="title bold">{{ expense.category }}</span>
                                    </div>
                                    <div class="col 14">
                                        <span class="title">{{ expense.comment }}</span>
                                    </div>
                                    <div class="col 14">
                                        <span class="title">{{ expense.day_total }}</span>
                                    </div>
                                    <a class="close-icon" onclick="deleteExpense(this)" data-id="{{ expense.id }}">
                                        <i class="material-icons red-text right">close</i>
                                    </a>

                                </div>
                            </div>
                        </li>
                    {% endfor %}
                        </ul>
                </div>
                <input type="radio" name="expense_tabs" id="daily_expense">
                <label for="daily_expense">Daily Expenses</label>
                <div class="tab">
                    <ul class="z-depth-1">
                    {% for day, amount in day_expense_list.items %}
                        <li>
                            <div class="card-panel z-depth-0 expense">
                                <div class="row">
                                    <div class="col 2">
                                        <span class="date">{{ day }}</span>
                                    </div>
                                    <div class="col ">
                                        <span class="title">{{ amount }}</span>
                                    </div>

                                </div>
                            </div>
                        </li>
                    {% endfor %}
                        </ul>
                </div>
            </div>
    </section>

</div>

<div id="expenseModal" class="modal">
    <div class="modal-content">
        <h4>Add Expense</h4>

        <form method="POST">
            {% csrf_token %}
                {{form_expense.as_p}}
            <button type="submit" class="btn">Add</button>
        </form>
    </div>
</div>

<script>
    var elem = document.querySelector('.modal')
    var instance = M.Modal.init(elem)

    var elem = document.querySelector('select')
    var instance = M.FormSelect.init(elem)

    function deleteExpense(e){

        let id = e.dataset.id
        e.closest('li').remove()

        fetch('', {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'id': id
            }),
            credentials: 'same-origin'
        })
    }
</script>

{% endblock %}