{% extends 'budget/base.html' %}
{% block content %}


    <div class="row p-3">
        <div class="col text-right">
            <span class="user_name">Hello, {{ user.username }} </span>
            <button onclick="location.href='{% url 'logout' %}'" class="logout-button">Log out</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="app-title">Бюджет</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <select class="form-select" id="currName" onchange="getCurrency(this);">
                <option>Валюта</option>
                <option value="₽">Руб - ₽</option>
                <option value="Kč">CZK - Kč</option>
                <option value="€">Euro - €</option>
            </select>
        </div>
        <div class="col">
            <button onclick="location.href='{% url 'add' %}'" class="green-button right">Добавить месяц</button>
        </div>
    </div>
    {% if project_list %}
    <div class="expense_tabs">
        <input type="radio" name="expense_tabs" id="past_months" checked="checked">
        <label for="past_months">Прошедшие месяца</label>
        <div class="tab">
            {% for project in past_months %}
            <div class="card-panel">
                <h5>{{ project.name }}</h5>
                <span>Даты: {{ project.start_date }} - {{ project.end_date }}
                <p>Бюджет: {{ project.budget }} <span class="csym"></span></p></span>
                <div class="row">
                    <div class="col p-2">
                        <button onclick="location.href='{% url 'detail' project.slug %}'" class="blue-button center">View</button>
                    </div>
                    <div class="col p-2">
                        <button onclick="location.href='{% url 'edit' project.pk %}'" class="blue-button center">Edit</button>
                    </div>
                    <div class="col p-2">
                        <button onclick="location.href='{% url 'delete' project.pk %}'" class="blue-button center">Delete</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <input type="radio" name="expense_tabs" id="future_months">
        <label for="future_months">Будущие месяца</label>
        <div class="tab">
            {% for project in future_months %}
            <div class="card-panel">
                <h5>{{ project.name }}</h5>
                <span>Даты: {{ project.start_date }} - {{ project.end_date }}
                <p>Бюджет: {{ project.budget }} <span class="csym"></span></p></span>
                <div class="row">
                    <div class="col p-2">
                        <button onclick="location.href='{% url 'detail' project.slug %}'" class="blue-button center">View</button>
                    </div>
                    <div class="col p-2">
                        <button onclick="location.href='{% url 'edit' project.pk %}'" class="blue-button center">Edit</button>
                    </div>
                    <div class="col p-2">
                        <button onclick="location.href='{% url 'delete' project.pk %}'" class="blue-button center">Delete</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="noproject-wrapper center">
        <h3 class="grey-text">Нажми на кнопку "Добавить месяц"</h3>
    </div>
    {% endif %}
{% endblock %}