{% extends 'budget/base.html' %}
{% block content %}

<div id="month-details" class="container">
    <table>
        <tr>
            <th><a href="#" onclick="history.back();return false;" class="green-button">Назад</a></th>
            <th><button class="green-button waves-effect right modal-trigger" href="#recExpenseModal">Добавить расход</button></th>
        </tr>
    </table>
    <section class="section section-expenses">
        <table class="expense">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Категория</th>
                <th><span class="left">Коммент</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>

                {% for expense in recurrent_expenses %}
                <tr>
                    <th><span class="date">{{ expense.spend_date }}</span></th>
                    <th><span class="title">{{ expense.amount }} czk</span></th>
                    <th><span class="title">{{ expense.category }}</span></th>
                    <th><span class="title left">{{ expense.comment }}</span></th>
                    <th><a class="close-icon" onclick="deleteRecExpense(this)" data-id="{{ expense.id }}">
                            <i class="material-icons red-text">close</i>
                        </a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

</div>

<div id="recExpenseModal" class="modal">
    <div class="modal-content">
        <h4>Add Recurrent Expense</h4>
        <form method="POST">
            {% csrf_token %}
                {{form_rec_expense.as_p}}
            <button type="submit" class="btn">Add</button>
        </form>
    </div>
</div>

<script>
    var elem = document.querySelector('.modal')
    var instance = M.Modal.init(elem)

    var elem = document.querySelector('select')
    var instance = M.FormSelect.init(elem)

    function deleteRecExpense(e){

        let id = e.dataset.id
        e.closest('li').remove()

        fetch('', {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'id': id
            }),
            credentials: 'same-origin'
        })
    }
</script>

{% endblock %}