.regular {
    font-weight: unset;
}

#dates {
    font-weight: bold;
    color: #606060;
}

.recurrent-buttons .col-xs-6 {
    margin: 7px;
    width: 100%;
}
/* project detail statistic */
.section-stats .card-panel{
    margin: 3px;
    padding: 10px 10px;
    width: 150px;
}

.section-stats h6{
    margin: 3px 0px;
    color: #606060;
}

.section-stats h5{
    margin: 3px 0px;
    color: #606060;
}

/* project detail expenses */

.expense_tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}
.expense_tabs input[type="radio"] {
    display: none;
}
.expense_tabs label {
    padding: 10px;
    background: #F2F2F2;
}

.expense_tabs .tab {
    width: 100%;
    padding: 0px;
    order: 1;
    display: none;
}

.expense_tabs input[type='radio']:checked + label + .tab {
    display: block;
}

.expense_tabs input[type='radio']:checked + label {
    background: white;
}

.section-expenses .expense {
    font-size: 13px;
    border-radius: 0;
    margin: 0px;
    padding: 0px 0px;
    width: 100%;
}

.section-expenses .expense thead th{
    background-color: #afaeae;
    text-align: center;
    font-weight: bold;
}

.section-expenses .expense tbody th{
    text-align: center;
    font-weight: normal;
}

.section-expenses .expense tr:nth-child(even) {
    background-color: #F2F2F2;
}

.section-expenses .close-icon:hover {
    cursor: pointer;
}

#main {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#commentModal {
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    color: #606060;
    background-color: #FFFFFF;
    position: sticky;
    top: 50%;
    margin: auto;
}

#main:target {display: block;}